*{margin:0;padding:0;}
* html #ancillary .block{margin:0 0 0 4%;}
* html #comments cite{width:30.6%;}
* html #primary .secondary{margin-right:4%;}
* html #primary.twocol-stories .story{margin-left:2%;}
#primary.onecol-stories .primary{float:left;width:50%;}
#primary.onecol-stories .secondary{float:right;width:40%;margin:0 0 0 10%;}
a img{border:none;}
blockquote{border-left:2px solid #CCC;color:#CCC;margin-left:1em;padding-left:1em;}
div.block blockquote {color:#404040;}
body{background:#D8D8D8;color:#404040;font-family: "Lucida Grande", "Bitstream Vera Sans", Helvetica, Verdana, Arial, sans-serif;font-size:11px;}
fieldset{padding:.5em;}
h1{color:#333;font-size:1.5em;font-weight:400;margin:1.5em 0;}
h2,h3{color:#000;font-size:1.15em;font-weight:400;}
input.textfield,textarea{background-color:#F8F8F8;border:1px solid #CFCFCF;width:15em;margin:5px 0;}
label.text{left:.5em;position:relative;top:-.5em;}
li,dd{margin-left:5%;}
p{line-height:1.75em;}
pre{border-bottom:1px dotted #CCC;border-top:1px dotted #CCC;overflow:auto;width:100%;padding:1em 0;}
select option{padding:0 5px;}
table{border-spacing:2px;width:100%;margin:1.5em 0;}
table caption{color:#000;margin-bottom:-1em;margin-top:1em;text-align:left;}
table td{background:#CCC;color:#000;}
table th{background:#CCC;color:#000;text-align:left;}
table th,table td{padding:.3em .75em;}
textarea.commentbox{font-family:Arial, Helvetica, sans-serif;font-size:1.25em;height:10em;width:28em;margin:5px 0;padding:.25em;}
ul li{list-style-type:square;margin:.5em 0 .5em 2em;}
ul.counts .count{color:#7A7A7A;float:right;}
ul.dates .date{color:#7A7A7A;padding:0 1.5em 0 0;}
ul.dates a,ul.counts a{color:#404040;text-decoration:none;}
ul.dates li,ul.counts li{border-bottom:1px solid #C2C2C2;list-style-type:none;margin:0;padding:.5em 0;}
ul.dates,ul.counts{border-top:1px solid #C2C2C2;list-style-type:none;margin:1.5em 0;}
.clear{clear:both;font-size:1px;height:1px;line-height:1px;}
.comment-head{border-bottom:1px solid #E3E3E3;padding:.8em 2em 1em;}
.comment-head .details{font-size:.95em;}
.comment-head a{color:#868686;text-decoration:none;}
.comment-head h2{font-size:1.5em;margin:0;}
.formactions .spinner{float:right;margin:-8px -20px 0 0;}
.formactions input.submit{background-color:#CCC;border:1px solid #868686;float:right;margin:-1em 0 0;padding:0 .5em;}
.hide,.print-logo,.close-button{display:none;}
.inside{width:80%;min-width:65em;max-width:85em;margin:0 auto;}
.rule{border-top:1px solid #CCC;font-size:1px;height:1px;line-height:1px;margin:1.5em 0;}
.secondary .featured dl{border-bottom:1px solid #CCC;margin:0;padding:.5em 0 .6em;}
.secondary .featured p{border-bottom:1px solid #CCC;border-top:1px solid #CCC;line-height:1.5em;margin:1em 0 0;padding:.5em 0 .6em;}
.secondary dd{display:inline;margin:0;padding:0;}
.secondary dd a{color:gray;}
.secondary dt{color:#AAA;display:inline;margin:0;padding:0;}
.single-post h1,.single-post h2{margin-top:0;}
.story h3{color:#666;font-size:1.15em;font-weight:400;margin:0 0 1.5em;}
.story h3 a{border-bottom:1px dotted #666;color:#333;text-decoration:none;}
#ancillary{padding:2em 0 0;}
#ancillary .block{float:left;width:30%;margin:0 0 0 5%;}
#ancillary .block h2,#ancillary .block h3{margin:0 0 2em;}
#ancillary .block-separator{clear:both;height:2.5em;}
#ancillary .first,* html #ancillary .first{clear:both;margin:0;}
#ancillary .thrice-length{width:100%;}
#ancillary .twice-length{width:65%;}
#comment-form{width:36em;margin:5em 0 5em 35.4%;}
#comments .content{border-left:1px solid #868686;float:left;margin-left:1.9%;width:60%;padding:0 0 0 2%;}
#comments .content h3{font-size:1em;margin:0;}
#comments .content p{margin:0 0 1em;}
#comments cite{float:left;font-style:normal;text-align:right;width:31%;}
#comments cite .admin-tools{margin:5px 0;}
#comments cite .admin-tools a{background:#666;border:1px solid #999;float:right;text-decoration:none;margin:0 5px;padding:0 3px 3px;}
#comments cite .author{font-size:1.2em;}
#comments cite .author a{text-decoration:none;}
#comments cite span{display:block;}
#errors{color:red;font-weight:700;}
#footer{clear:both;color:#6C6C6C;margin:2em 0 3em;}
#footer .inside{background:url('footer_black.gif') 50% 0 repeat-x;padding:1em 0;}
#footer p{font-size:.95em;margin:0;}
#footer p.attributes a{color:#525252;text-decoration:none;padding:0 0 0 1em;}
#header .inside{padding:3em 0;}
#header h2{border-right:1px solid gray;float:left;font-size:2.25em;margin:0 .5em 0 0;padding:0 .5em .25em 0;}
#header h2 a{color:#000;text-decoration:none;}
#header p{line-height:1em;margin:0;padding:1em 0;}
#live-search{-moz-opacity:0.4;position:absolute;text-align:right;top:4em;width:100%;}
#live-search:hover{-moz-opacity:1.0;}
#preview{border:1px solid #CCC;margin:1em 0;padding:.5em;}
#preview p{margin:1em 0 0;}
#primary{background:#FFF;color:#7F7F7F;padding:1px 0 2em;}
#primary .primary{float:right;width:65%;}
#primary .secondary{display:inline;float:right;margin-right:5%;padding-top:.65em;width:30%;}
#primary.twocol-stories .story{float:left;width:48%;display:inline;margin:0 0 0 4%;}
.story .details{text-align:right;border-top:1px solid #ccc;font-size:.95em;color:#4D4D4D;margin:1em 0;padding:.5em 0;}
.story .details .read-on{background:url('readon_black.gif') 100% 60% no-repeat;padding-right:20px;}
.story .details a{color:#4D4D4D;text-decoration:none;}
#search .spinner{text-align:right;padding:0 0 5px;}
#search img{left:-5px;margin-top:2px;position:relative;top:.25em;}
#search img.archives-icon{top:1px;margin:0 7px 0 0;}
#search input, select, input.text{background-color:#F8F8F8;border:1px solid #CFCFCF;font-size:.85em;margin-top:2px;width:175px;}
#login dt{width:100px;float:left;}
#login input.button, input.button{background:#69D100;border:none;color:#FFF;font-weight:bold;width:100px;font-size:11px;cursor:pointer;}
#search-results{background:#CCC;border-top:1em solid #000;float:right;-moz-opacity:0.9;width:30%;padding:0;}
#search-results h3{background:#FFF;font-weight:700;text-align:left;margin:0;padding:0 0 1em;}
#search-results small{border-bottom:1px solid #555;border-top:1px solid #666;display:block;font-size:.9em;text-align:left;padding:.5em 1em .7em;}
#search-results small a{color:#CCC;}
#search-results ul li{list-style-type:none;margin:.5em 0;padding:0 1em .5em;}
#search-results ul li a{border-bottom:1px dotted #CCC;text-decoration:none;}
#search-results ul li:hover{background:#202020;}
#secondary{background:#F3F3F3;border-top:1px solid #E3E3E3;padding:1px 2em;}
#primary.twocol-stories .first,* html #primary.twocol-stories .first,#search-result ul{margin:0;}
a,ul.dates a:hover,ul.dates a:hover .date,ul.counts a:hover,ul.counts a:hover .count,.secondary dd a:hover,#footer p.attributes a:hover,#primary h2,.story .details a:hover{color:#000;}
h1,h2,h3,h4,h5,h6,p,pre,blockquote,label,ul,ol,dl,fieldset,address,#primary .secondary .admin-tools{margin:1em 0;}
ol#comments,ol#comments li{list-style-type:none;margin:2em 0;}
.left,#footer p.copyright{float:left;}
.right,#footer p.attributes{float:right;}
#header,#search input:focus{background:#FFF;}

textarea{height:200px;width:610px;border:1px solid #CCC;font-family:Monaco,"Courier New",Courier,monospace;
font-size:90%;padding:2px;line-height:1.75em;}

input.title {font-size:140%;padding:2px;padding-left:0px;width:300px;}

#admin{background:#000;padding:2px 0px;color:#FFF;}
#admin a{color:#FFF;font-weight:bold;text-decoration:none;}

#message{padding:2px 0px;color:#FFF;}
#message.fail{background:#931A1D;}
#message.success{background:#69D100;}